trigger:
  branches:
    include:
    - refs/heads/master
jobs:
- job: API
  cancelTimeoutInMinutes: 1
  pool:
    name: Hosted Windows 2019 with VS2019
  variables:
    buildConfiguration: 'Release'
  steps:
  - checkout: self
  - task: UseDotNet@2
    displayName: 'Use .NET Core SDK 5.x'
    inputs:
      version: 5.x
  - task: DotNetCoreCLI@2
    displayName: '.Net Restore'
    inputs:
      command: restore
      projects: '**/*.csproj'
  - task: DotNetCoreCLI@2
    displayName: '.Net Build'
    inputs:
      command: 'build'
      projects: '**/*.csproj'
      arguments: '--configuration $(buildConfiguration) -r win-x64'
  - task: DotNetCoreCLI@2
    displayName: '.Net Test'
    inputs:
      command: 'test'
      projects: '**/*Test/*.csproj'
      arguments: '--configuration $(buildConfiguration)'
  - task: DotNetCoreCLI@2
    displayName: '.Net Publish'
    inputs:
      command: publish
      publishWebProjects: true
      projects: '**/*.csproj'
      arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory) -r win-x64'
      zipAfterPublish: true
  - task: PublishPipelineArtifact@1
    displayName: 'Publish Artifact'
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)'
      artifact: 'AppBuild'
      publishLocation: 'pipeline'